@use "../../../style/theme" as theme;

#calendar-select-range-component {
  width: 100%;
  #date-display {
    height: 40px;
    margin-top: theme.$dimen-xs;
    #date-display-start {
      width: 100%;
    }
    #date-display-end {
      width: 100%;
    }
  }
  #calendar-component {
    margin-top: theme.$dimen-lg;
  }
}

.calendar-select-range-component .row-container {
  justify-content: space-evenly;
}

#day-component {
  width: 100%;
  height: 20px;
}

#date-component {
  width: 100%;
  height: 50px;
}

#date-component {
  div {
    height: 100%;
    width: 100%;
  }

  .start {
    background-color: theme.$color-primary;
    color: white;
    border-radius: theme.$dimen-md;
  }

  .selected {
    border-radius: 0;
    background-color: theme.$color-primary;
    color: white;
  }
  .selected.start {
    border-top-left-radius: theme.$dimen-md;
    border-bottom-left-radius: theme.$dimen-md;
  }

  .selected.end {
    border-top-right-radius: theme.$dimen-md;
    border-bottom-right-radius: theme.$dimen-md;
  }

  .disabled {
    color: lightgray;
  }
}

#date-display-component {
  height: 100%;
  justify-content: center;
  #date-string {
    margin-left: theme.$dimen-sm;
  }
}

#calendar-component {
  padding: theme.$dimen-sm;
  #calendar {
    margin-top: theme.$dimen-xs;
  }
}
