@use '../../../style/theme/theme';
#calendar-component {
  border: 1px theme.$color-primary solid;
  border-radius: 8px;

  margin: 8px;
  padding: 8px;

  #top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #days-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #dates-container {
    margin-top: 12px;
    .week-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

#day-component {
  text-align: center;
}
