@use "../../../style/theme/theme" as theme;

#date-component {
  width: 100%;
  height: 50px;
  padding-top: 2px;
  padding-bottom: 2px;

  div {
    height: 100%;
    width: 100%;
  }

  .caption {
    margin-right: auto;
    margin-left: auto;
    color: inherit;
  }

  .start {
    background-color: theme.$color-primary;
    color: white;
    border-radius: theme.$dimen-md;
  }

  .selected {
    border-radius: 0;
    background-color: theme.$color-primary;
    color: white;
  }

  .semi-selected {
    border-radius: 0;
    background-color: theme.$color-primary-light;
    color: white;
  }

  .selected.start {
    border-top-left-radius: theme.$dimen-md;
    border-bottom-left-radius: theme.$dimen-md;
  }

  .selected.end {
    border-top-right-radius: theme.$dimen-md;
    border-bottom-right-radius: theme.$dimen-md;
  }

  .disabled {
    color: lightgray;
  }

  p {
    text-align: center;
  }

  label {
    display: inline-block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 0;
    color: theme.$color-gray;
    text-align: center;
    font-weight: 500;
  }
}

#date-string-component {
  display: flex;
  flex-direction: row;

  margin-right: 4px;
  #date-string {
    margin-left: 8px;
    h3 {
      font-style: unset;
    }
  }
}

#day-component {
  width: 100%;
  height: 20px;
}
