@use "../../../style/theme" as theme;

#date-component {
  width: 100%;
  height: 50px;

  div {
    height: 100%;
    width: 100%;
  }

  .start {
    background-color: theme.$color-primary;
    color: white;
    border-radius: theme.$dimen-md;
  }

  .selected {
    border-radius: 0;
    background-color: theme.$color-primary;
    color: white;
  }
  .selected.start {
    border-top-left-radius: theme.$dimen-md;
    border-bottom-left-radius: theme.$dimen-md;
  }

  .selected.end {
    border-top-right-radius: theme.$dimen-md;
    border-bottom-right-radius: theme.$dimen-md;
  }

  .disabled {
    color: lightgray;
  }
}

#date-string-component {
  height: 100%;
  #date-string {
    margin-left: theme.$dimen-sm;
  }
}

#day-component {
  width: 100%;
  height: 20px;
}
