.plan-component {
  /* display: flex; */
  height: 50px;
  border-bottom: 1.5px solid #3399ff;
  margin-bottom: 10px;
  padding-left: 0.5em;
}

.plan-component {
  color: dimgray;
}

.plan-component:hover {
  background-color: #3399ff;
  color: white;
  transition: 0.3s;
}

.plan-component .title {
  font-size: 1.5em;
  font-weight: bold;
  align-self: center;
}

.plan-component .date {
  margin-right: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.plan-component .delete-button {
  color: red;
  font-weight: bold;
  size: 1.3em;
  align-self: center;
  margin-left: auto;
  margin-right: 0.5em;
  padding: 0.2em;
}

.plan-component .delete-button:hover {
  background-color: rgba(255, 0, 0, 0.3);
  transition: 0.5s;
}
