@use "../../style/theme";

#plan-item-list-component {
  #period-items-group {
    margin-top: theme.$dimen-lg;
    margin-left: theme.$dimen-sm;
  }
}

#plan-component {
  margin-bottom: 10px;
  padding-left: 0.5em;

  #period-string-component {
    margin-bottom: theme.$dimen-xs;
  }

  #title {
    width: 100%;
  }

  #content:hover {
    background-color: theme.$color-primary-light;
    color: white;
    transition: 0.3s;
  }

  .delete-button {
    align-self: center;
    margin-left: auto;
    margin-right: theme.$dimen-sm;
    padding: 0.2em;
  }
}

#plan-item-component {
  padding: 10px;

  #plan-item {
    margin-left: theme.$dimen-sm;

    #title {
      margin-left: theme.$dimen-xs;
    }
  }

  #event-list {
    margin-left: theme.$dimen-lg;
  }
}

#add-event-item-component {
  width: 500px;
  height: fit-content;

  #select-period-component {
    margin-top: theme.$dimen-xs;
    margin-left: auto;
    margin-right: theme.$dimen-xs;
    align-items: center;

    #period-string-component {
      width: fit-content;
      margin-left: auto;
      margin-right: theme.$dimen-xs;
    }
  }
  input {
    width: 100%;
  }
}
