@use "../../style/theme/theme";

#plan-component {
  margin-bottom: 10px;

  #period-string-component {
    // margin-bottom: theme.$dimen-xs;
  }

  #plan-container {
    display: flex;
    flex-direction: row;

    border: 1px theme.$color-primary solid;
    border-radius: 8px;

    padding: 8px;

    #plan-title {
      width: 100%;
    }

    #action-buttons {
      display: flex;
      flex-direction: row;
    }
  }

  #plan-container:hover {
    background-color: theme.$color-primary;
    transition: 0.3s;
    #plan-title,
    #action-buttons {
      transition: 0.3s;
      color: white !important;
    }
  }
}
