.calendar-component {
  width: 450px;
  height: 450px;
  padding: 1em;

  /* background-color: blanchedalmond; */
}

.calendar-component .row-container {
  justify-content: space-evenly;
}

.calendar-component .date-component {
  width: 100%;
  height: 50px;
}
