$color-primary: #50a5ff;
$color-primary-dark: #00308f;
$color-primary-light: #abe7ff;

$color-white: white;
$color-gray: gray;
$color-gray-light: #bdbdbd;

.color-gray {
  color: gray;
}
.color-red {
  color: red;
}
.color-blue {
  color: blue;
}
