div .top-banner {
  /* background-color: blue; */
  width: 100%;
  height: 160px;

  display: flex;
  justify-content: space-between;
}

.top-banner .title {
  align-self: flex-end;
}

.top-banner .login-state-component {
  align-self: flex-end;
}
