@use '../../../../style/theme/theme';

#period-component {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  border: 1px theme.$color-primary solid;
  border-radius: 8px;

  margin: 8px;
  padding: 16px;

  .divider {
    border-right: 1px gray solid;
  }
}

#period-string-component {
  display: flex;
  flex-direction: row;
  margin: 4px;

  #calendar-icon {
    padding-bottom: 4px;
  }

  #period-string {
    padding-top: 4px;
    display: flex;
    flex-direction: row;
  }
}
