@use '../../../../style/theme';

#select-period-component {
  width: 100%;

  #period-string-component {
    align-items: center;
  }

  #select-period {
    margin-top: theme.$dimen-lg;
  }

  .close-button-sm {
    margin-right: theme.$dimen-xs;
    margin-bottom: theme.$dimen-xs;
  }
}
