@use 'style/theme';

body,
h1,
h2,
h3,
h4,
h5,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: dimgray;
}

p {
  height: fit-content;
}

input {
  border: none;
  outline: none;
  padding-left: theme.$dimen-xs;
  padding-bottom: theme.$dimen-xs;
  font-size: theme.$font-size-lg;
  color: theme.$color-primary;
}

input:focus {
  text-decoration: underline;
}

::placeholder {
  color: theme.$color-gray;
  font-size: theme.$font-size-xs;
  font-style: italic;
}

label {
  margin-left: theme.$dimen-md;
  color: theme.$color-primary;
  font-size: theme.$font-size-xs;
  font-style: italic;
  font-weight: bold;
}

h1,
h2,
h3 {
  color: theme.$color-primary;
}
