@use '../../style/theme/theme';

#place-search-bar-component {
  #place-search-bar {
    display: flex;
    flex-direction: row;

    #search-input {
      padding: 8px;
      width: 100%;
      margin-left: theme.$dimen-sm;
      cursor: text;
    }
    #search-input::placeholder {
      font-size: theme.$font-size-sm;
      font-style: italic;
    }

    #search-input:focus {
    }
  }

  #predictions-component {
    margin-top: theme.$dimen-sm;
    margin-left: 25px;

    #prediction-component {
      padding: 4px;

      border-radius: 4px;

      #place-name {
        padding-left: 4px;
      }

      #description {
        color: theme.$color-gray;
        font-size: 14px;
        font-weight: 500;
        font-style: none !important;
        padding-top: 2px;
      }
    }

    #prediction-component.selected {
      #place-name {
        color: white;
      }
      #description {
        color: white;
      }

      background-color: theme.$color-primary;
    }

    #prediction-component:hover {
      #place-name {
        color: white;
      }
      #description {
        color: white;
      }

      background-color: theme.$color-primary;
    }
  }
}

#place-search-bar :focus {
  border: none;
}

.prediction-component .active,
.prediction-component div:hover {
  background-color: cornflowerblue;
}
